{% extends 'layout/base.html' %}
{% load bootstrap4 %}

{% block title %}
    Set New Password
{% endblock %}


{% block content %}
    <style>
        body {
            background-color: #292b2c;
        }


    </style>
    <div class="row">
        <div class="col-6 mx-auto bg-light m-5 p-5 rounded">
            <h2>{{ user.username }} :: set new password</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons submit="Confirm" %}{% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}

